{% extends "tree_analyzer/base.html" %}

{% block content %}
<div id="app">
    <cluster-list></cluster-list>
    <tree-parameters></tree-parameters>
</div>

<script>
    Vue.component("cluster-list", {template:`
    <div id="cluster-list">
        <table>
            <thead>
                <tr>
                    <th>Cluster</th>
                </tr>
            </thead>
            <tbody>
                {% for cluster in cluster_list %}
                    <tr>
                        <td><a href="{% url 'design_tree' cluster_number=cluster %}">{{ cluster }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    `})
    
    Vue.component("tree-parameters", {template:`
    <div id="tree-parameters">
    <h3>Tree computing  parameters</h3>
        <form>
            <div class="form-group">
                <select class="selectpicker" title="Calculus algorithm" data-header="Calculus algorithm" data-style="btn btn-dark dropdown-toggle">
                    <option>Simple</option>
                    <option>All vs All</option>
                    <option>All vs All (Means)</option>
                    <option>Simple (Whole annotation)</option>
                    <option>All vs All (Whole annotation)</option>
                    <option>All vs All (Means + Whole annotation)</option>
                </select>
                <select class="selectpicker" title="Differentiate gaps" data-header="Differentiate gaps" data-style="btn btn-dark dropdown-toggle">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group">
                <select class="selectpicker" multiple title="Features to analyze" data-header="Features to analyze" data-style="btn btn-dark dropdown-toggle">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Barbecue</option>
                </select>
                <input type="number" id="evalue" step=any placeholder="Evalue">
            </div>
            <button type="submit" class="btn btn-danger">Recalculate</button>
        </form>
    </div>
    `})

    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        message: 'Hello Vue!'
      }
    })

</script>
{% endblock %}
