{% extends "tree_analyzer/base.html" %}

{% block content %}
<div class="row">
    <div>
        <img id="tree" class="ete_tree_img img-responsive col" src="data:image/png;base64,{{ case_study.processed_tree }}">   
    </div>
    <div id="app" class="col">
        <tree-parameters></tree-parameters>
    </div>
</div>

<div id="node_scores">
    <table>
        <thead>
            <tr>
                <th>Node</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        {% for node, node_score in case_study.node_scores.items %}
            <tr>
                <td>{{ node }}</td>
                <td>{{ node_score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // <!-- Server-status data for Vue components -->
    var calculus_algorithms = {{ calculus_algorithms| safe }}
    var all_features = {{ case_study.all_features| safe }}
    var feature_info = {{ feature_info| safe }}
    var csrf_token = '{{ csrf_token }}'

    Vue.component("tree-parameters", {
        delimiters: ['[[', ']]'],
        data: function () {
            return {
            diffGaps: "Y",
            algorithm : "simple",
            calculus_algorithms: calculus_algorithms,
            all_features: all_features,
            feature_info: feature_info,
            gaps: "Y",
            }
        },
        methods: {
            onAlgChange(event) {
                this.diffGaps=this.calculus_algorithms[this.algorithm].differentiate_gaps
                if (this.diffGaps === "N"){
                    this.gaps = "N"
                }
                this.$nextTick(function(){ $('#gaps-list').selectpicker('refresh')})
            }
        },
        template:`
        <div id="tree-parameters" class="col-7 border border-dark rounded shadow p-3 mb-5 bg-white rounded">
            <div class="row justify-content-center"><h3>Tree computing  parameters</h3></div>
                <div class="col">
                    <form action="{% url 'design_tree' cluster_number=cluster %}"  method="POST">
                        {% csrf_token %}
                        <div class="row mt-1 justify-content-center">
                            <select class="selectpicker col" v-model="algorithm" v-on:change="onAlgChange($event)" name="calculus_algorithm" title="Calculus algorithm" data-header="Calculus algorithm" data-style="btn btn-dark dropdown-toggle">
                                <option v-bind:value="algorithm" v-for="(info, algorithm) in calculus_algorithms">[[ info.fancy_name ]]</option>
                            </select>
                            <select class="selectpicker col" id="gaps-list" v-model="gaps" v-bind:disabled="this.diffGaps === 'N'" name="differentiate_gaps" title="Differentiate gaps" data-header="Differentiate gaps" data-style="btn btn-dark dropdown-toggle">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                        <div class="row mt-1 justify-content-center">
                            <select class="selectpicker col" multiple name="features" title="Features to analyze" data-header="Features to analyze" data-style="btn btn-dark dropdown-toggle">
                                <option v-bind:value="feature" v-for="feature in all_features">[[ feature_info[feature]["fancy_name"] ]]</option>
                            </select>
                            <input type="number" name="evalue" id="evalue" step=any placeholder="Evalue">
                        </div>
                        <div class="row mt-1 justify-content-center"><button type="submit" class="btn btn-danger">Recalculate</button></div>
                    </form>
                </div>
            </div>
        </div>
        `
    })


    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
        }
    })
</script>
{% endblock %}