{% extends "tree_analyzer/base.html" %}

{% block content %}
<div id="app">
    <custom-tree-parameters></custom-tree-parameters>
</div>



<script>
    var csrf_token = '{{ csrf_token }}'
    var calculus_algorithms = {{ calculus_algorithms| safe }}

    Vue.component("custom-tree-parameters", {
        delimiters: ['[[', ']]'],
        data: function () {
            return {
            diffGaps: "Y",
            algorithm : "simple",
            calculus_algorithms: calculus_algorithms,
            gaps: "Y",
            }
        },
        methods: {
            onAlgChange(event) {
                this.diffGaps=this.calculus_algorithms[this.algorithm].differentiate_gaps
                if (this.diffGaps === "N"){
                    this.gaps = "N"
                }
                this.$nextTick(function(){ $('#gaps-list').selectpicker('refresh')})
            }
        },
        template:`
            <div id="custom-tree-parameters"
            <form action="{% url 'design_custom_tree' %}" method="POST">
                {% csrf_token %}
                <label for="aligFile">Alignment file (FASTA)</label>
                <input type="file" name="alignment" id="aligFile">
                <label for="aligFile">Tree file (NEWICK)</label>
                <input type="file" name="tree" id="treeFile">
                <select class="selectpicker" v-model="algorithm" v-on:change="onAlgChange($event)" name="calc_alg" title="Calculus algorithm" data-header="Calculus algorithm" data-style="btn btn-dark dropdown-toggle">
                    <option v-bind:value="algorithm" v-for="(info, algorithm) in calculus_algorithms">[[ info.fancy_name ]]</option>
                </select>
                <select class="selectpicker" id="gaps-list" v-model="gaps" v-bind:disabled="this.diffGaps === 'N'" name="diff_gaps" title="Differentiate gaps" data-header="Differentiate gaps" data-style="btn btn-dark dropdown-toggle">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
                <button type="submit" class="btn btn-danger">Calculate</button>
            </form>
        </div>
        `
    })

    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
    })

</script>
{% endblock %}